@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #231f20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "articulat-cf", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "articulat-cf", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 29.86px;
  font-weight: 600;
  color: var(--foreground);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--foreground);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--foreground);
}

p, ul, ol, blockquote {
  color: #52525b;
}

strong {
  font-weight: 600;
  color: var(--foreground);
}

small, .meta {
  font-size: 14px;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3 {
    color: var(--foreground);
  }

  p, ul, ol, blockquote {
    color: #a1a1aa;
  }
}
